<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <if condition='isDefined("LOKI")'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>${LOKI}/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <!-- Labels -->
                        <pattern>
                            app = ${APP_NAME},
                            host = ${HOSTNAME}
                        </pattern>
                        <!-- Structured metadata (since Loki v2.9.0) -->
                        <structuredMetadataPattern>
                            level = %level,
                            thread = %thread,
                            class = %logger,
                            traceId = %mdc{traceId:-none}
                        </structuredMetadataPattern>
                    </label>
                    <message>
                        <pattern>%-5level %logger{20} %msg %ex</pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
            </appender>

            <root level="DEBUG">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="LOKI" />
            </root>
<!--            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">-->
<!--                <http>-->
<!--                    <url>${LOKI}/loki/api/v1/push</url>-->
<!--                </http>-->
<!--                <format>-->
<!--                    <label>-->
<!--                        <pattern>app=java-microservices,host=${HOSTNAME},level=%level</pattern>-->
<!--                        <message>-->
<!--                            <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>-->
<!--                        </message>-->
<!--                        <sortByTime>true</sortByTime>-->
<!--                    </label>-->
<!--                </format>-->
<!--            </appender>-->

<!--            <root level="info">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="LOKI"/>-->
<!--            </root>-->
        </then>
        <else>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

</configuration>
